#container{
    text-align: center;
}

#greenbar{
    height: 4px;
    background: #7bd651;
    text-align: center;
    margin: auto;
    width: 40%;
}

#portrait{
    width: 160px;
    height: 250px;
}

ul, ol{
    list-style-position: inside;
}